___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Topic Modeling on Quora Reviews

Welcome to your Topic Modeling Assessment! For this project you will be working with a dataset of over 400,000 quora questions that have no labeled cateogry, and attempting to find 20 cateogries to assign these questions to. The .csv file of these text questions can be found underneath the Topic-Modeling folder.

In [3]:
import pandas as pd
import os
os.chdir(r'D:\Data Science Projects\NLP\Quora')

In [47]:
quora = pd.read_csv('quora_questions.csv')

In [48]:
quora.head()

                                            Question
0  What is the step by step guide to invest in sh...
1  What is the story of Kohinoor (Koh-i-Noor) Dia...
2  How can I increase the speed of my internet co...
3  Why am I mentally very lonely? How can I solve...
4  Which one dissolve in water quikly sugar, salt...

In [49]:
quora.shape

(404289, 1)

In [50]:
quora['Question'][7]

'How can I be a good geologist?'

# Preprocessing

In [51]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [52]:
tfidf = TfidfVectorizer(max_df=0.95, min_df=2, stop_words='english')

In [53]:
dtm = tfidf.fit_transform(quora['Question'])

In [54]:
#TF-IDF Dimensions
dtm.shape

(404289, 38669)

# Non-negative Matrix Factorization

In [55]:
from sklearn.decomposition import NMF

In [56]:
# Create an NMF instance: model
# the 20 components will be the topics
nmf_model = NMF(n_components=20, random_state=42)

In [57]:
# Fit the model to TF-IDF
nmf_model.fit(dtm)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\decomposition\_nmf.py:1076: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn("Maximum number of iterations %d reached. Increase it to"

NMF(n_components=20, random_state=42)

In [58]:
for index, topic in enumerate(nmf_model.components_):
    print(f"The top 15 words for TOPIC is: {index}")
    print([tfidf.get_feature_names()[i] for i in topic.argsort()[-15:]])
    print()

The top 15 words for TOPIC is: 0
['thing', 'read', 'place', 'visit', 'places', 'phone', 'buy', 'laptop', 'movie', 'ways', '2016', 'books', 'book', 'movies', 'best']

The top 15 words for TOPIC is: 1
['majors', 'recruit', 'sex', 'looking', 'differ', 'use', 'exist', 'really', 'compare', 'cost', 'long', 'feel', 'work', 'mean', 'does']

The top 15 words for TOPIC is: 2
['add', 'answered', 'needing', 'post', 'easily', 'improvement', 'delete', 'asked', 'google', 'answers', 'answer', 'ask', 'question', 'questions', 'quora']

The top 15 words for TOPIC is: 3
['using', 'website', 'investment', 'friends', 'black', 'internet', 'free', 'home', 'easy', 'youtube', 'ways', 'earn', 'online', 'make', 'money']

The top 15 words for TOPIC is: 4
['balance', 'earth', 'day', 'death', 'changed', 'live', 'want', 'change', 'moment', 'real', 'important', 'thing', 'meaning', 'purpose', 'life']

The top 15 words for TOPIC is: 5
['reservation', 'engineering', 'minister', 'president', 'company', 'china', 'business', 'country', 'olympics', 'available', 'job', 'spotify', 'war', 'pakistan', 'india']

The top 15 words for TOPIC is: 6
['beginners', 'online', 'english', 'book', 'did', 'hacking', 'want', 'python', 'languages', 'java', 'learning', 'start', 'language', 'programming', 'learn']

The top 15 words for TOPIC is: 7
['happen', 'presidency', 'think', 'presidential', '2016', 'vote', 'better', 'election', 'did', 'win', 'hillary', 'president', 'clinton', 'donald', 'trump']

The top 15 words for TOPIC is: 8
['russia', 'business', 'win', 'coming', 'countries', 'place', 'pakistan', 'happen', 'end', 'country', 'iii', 'start', 'did', 'war', 'world']

The top 15 words for TOPIC is: 9
['indian', 'companies', 'don', 'guy', 'men', 'culture', 'women', 'work', 'girls', 'live', 'girl', 'look', 'sex', 'feel', 'like']

The top 15 words for TOPIC is: 10
['ca', 'departments', 'positions', 'movies', 'songs', 'business', 'read', 'start', 'job', 'work', 'engineering', 'ways', 'bad', 'books', 'good']

The top 15 words for TOPIC is: 11
['money', 'modi', 'currency', 'economy', 'think', 'government', 'ban', 'banning', 'black', 'indian', 'rupee', 'rs', '1000', 'notes', '500']

The top 15 words for TOPIC is: 12
['blowing', 'resolutions', 'resolution', 'mind', 'likes', 'girl', '2017', 'year', 'don', 'employees', 'going', 'day', 'things', 'new', 'know']

The top 15 words for TOPIC is: 13
['aspects', 'fluent', 'skill', 'spoken', 'ways', 'language', 'fluently', 'speak', 'communication', 'pronunciation', 'speaking', 'writing', 'skills', 'improve', 'english']

The top 15 words for TOPIC is: 14
['diet', 'help', 'healthy', 'exercise', 'month', 'pounds', 'reduce', 'quickly', 'loss', 'fast', 'fat', 'ways', 'gain', 'lose', 'weight']

The top 15 words for TOPIC is: 15
['having', 'feel', 'long', 'spend', 'did', 'person', 'machine', 'movies', 'favorite', 'job', 'home', 'sex', 'possible', 'travel', 'time']

The top 15 words for TOPIC is: 16
['marriage', 'make', 'did', 'girlfriend', 'feel', 'tell', 'forget', 'really', 'friend', 'true', 'know', 'person', 'girl', 'fall', 'love']

The top 15 words for TOPIC is: 17
['easy', 'hack', 'prepare', 'quickest', 'facebook', 'increase', 'painless', 'instagram', 'account', 'best', 'commit', 'fastest', 'suicide', 'easiest', 'way']

The top 15 words for TOPIC is: 18
['web', 'java', 'scripting', 'phone', 'mechanical', 'better', 'job', 'use', 'account', 'data', 'software', 'science', 'computer', 'engineering', 'difference']

The top 15 words for TOPIC is: 19
['earth', 'blowing', 'stop', 'use', 'easily', 'mind', 'google', 'flat', 'questions', 'hate', 'believe', 'ask', 'don', 'think', 'people']

#### Add a new column to the original quora dataframe that labels each question into one of the 20 topic categories.

In [59]:
# Transform the TF-IDF: nmf_features (document & topic matrix)
nmf_features = nmf_model.transform(dtm)

In [60]:
#Features Dimensions
nmf_features.shape

(404289, 20)

In [61]:
#Components Dimensions (topic and word matrix)
nmf_model.components_.shape

(20, 38669)

In [62]:
# Create a DataFrame: components_df
components_df = pd.DataFrame(nmf_model.components_ , columns=tfidf.get_feature_names())
components_df

,00,000,0000000000,000rs,001,0019,002,00am,01,012,...,竟然,親しみやすい,譬如朝露,还能靠什么支撑自己走下去,這是什麽,骂人,그런데,근데,심하잖아,하지만
0,0.000000,0.056304,0.000054,0.002323,0.000000e+00,0.000000,0.000000,0.000007,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
1,0.001239,0.000000,0.000035,0.000000,3.534633e-05,0.000016,0.000000,0.000018,0.000959,0.000000,...,0.000000,0.000000,0.000308,0.000003,0.000011,0.000000,0.000000,0.000000,0.00365,0.000000
2,0.000000,0.000000,0.000000,0.000000,1.786137e-05,0.000015,0.000009,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000125,0.000000,0.000000,0.000000,0.00000,0.000000
3,0.000455,0.054020,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000369,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
4,0.000292,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.002177,0.000237,...,0.000000,0.000000,0.000145,0.000000,0.000036,0.000000,0.000000,0.000000,0.00000,0.000000
5,0.000921,0.003782,0.000000,0.000056,0.000000e+00,0.000000,0.000003,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
6,0.000000,0.000000,0.000000,0.000000,2.349743e-06,0.000000,0.000045,0.000000,0.000000,0.000014,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
7,0.000000,0.000796,0.000000,0.000000,0.000000e+00,0.000005,0.000000,0.000001,0.000000,0.000017,...,0.000000,0.000000,0.000000,0.000000,0.000086,0.000000,0.000000,0.000000,0.00000,0.000000
8,0.000247,0.008207,0.000000,0.000000,1.296839e-05,0.000000,0.000000,0.000009,0.001442,0.000100,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
9,0.000378,0.002413,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000005,0.000857,0.000230,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
10,0.001216,0.007399,0.000000,0.000000,2.508579e-05,0.000000,0.000000,0.000063,0.001505,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
11,0.001363,0.044210,0.000000,0.000000,8.597584e-07,0.000000,0.000003,0.000010,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
12,0.001315,0.020356,0.000049,0.000047,2.776065e-06,0.000051,0.000042,0.000160,0.001230,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
13,0.000249,0.000000,0.000000,0.000000,5.421117e-06,0.000000,0.000000,0.000000,0.000022,0.000000,...,0.002036,0.000000,0.000704,0.001382,0.000000,0.004104,0.000000,0.000000,0.00000,0.000000
14,0.000204,0.004091,0.000000,0.000000,0.000000e+00,0.000000,0.000004,0.000000,0.000000,0.000002,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
15,0.002035,0.005302,0.000003,0.000000,2.465858e-05,0.000000,0.000114,0.000041,0.000000,0.000015,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
16,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000019,...,0.000000,0.000000,0.000000,0.000033,0.000023,0.000000,0.000000,0.000000,0.00000,0.000000
17,0.000408,0.004927,0.000000,0.000000,2.267081e-05,0.000612,0.000005,0.000010,0.000013,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.001236,0.000000,0.000000,0.000000,0.00000,0.000000
18,0.000078,0.000454,0.000061,0.000000,3.130544e-05,0.000049,0.000023,0.000011,0.000115,0.000002,...,0.000000,0.002497,0.000000,0.000000,0.000043,0.000000,0.001705,0.001705,0.00000,0.001705
19,0.000345,0.000000,0.000005,0.000028,2.692765e-05,0.000006,0.000014,0.000002,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000028,0.000148,0.000000,0.000000,0.000000,0.00000,0.000000

In [63]:
#Get the Words of the Highest Value for each Topic

for topic in range(components_df.shape[0]):
    tmp = components_df.iloc[topic]
    print(f'For topic {topic+1}, the top 10 words with the highest value are:')
    print(tmp.nlargest(10))
    print('\n')

For topic 1, the top 10 words with the highest value are:
best      8.248757
movies    0.674862
book      0.640512
books     0.639019
2016      0.483959
ways      0.397412
movie     0.394834
laptop    0.369424
buy       0.339786
phone     0.304055
Name: 0, dtype: float64


For topic 2, the top 10 words with the highest value are:
does       8.591282
mean       2.921088
work       1.125444
feel       0.872357
long       0.632791
cost       0.347555
compare    0.320279
really     0.287291
exist      0.257838
use        0.220598
Name: 1, dtype: float64


For topic 3, the top 10 words with the highest value are:
quora          4.893323
questions      1.759927
question       1.351294
ask            0.984636
answer         0.646882
answers        0.624923
google         0.423363
asked          0.392752
delete         0.323093
improvement    0.292727
Name: 2, dtype: float64


For topic 4, the top 10 words with the highest value are:
money       4.049779
make        3.389326
online      2.269344
earn        1.463856
ways        0.500239
youtube     0.374662
easy        0.238002
home        0.213234
free        0.162397
internet    0.155430
Name: 3, dtype: float64


For topic 5, the top 10 words with the highest value are:
life         7.863187
purpose      1.250394
meaning      0.964230
thing        0.862318
important    0.838874
real         0.407293
moment       0.333484
change       0.302229
want         0.301616
live         0.294053
Name: 4, dtype: float64


For topic 6, the top 10 words with the highest value are:
india        7.089960
pakistan     0.887420
war          0.318410
spotify      0.302162
job          0.286663
available    0.245763
olympics     0.237652
country      0.220356
business     0.212371
china        0.206177
Name: 5, dtype: float64


For topic 7, the top 10 words with the highest value are:
learn          9.207578
programming    3.417639
language       3.416453
start          0.985816
learning       0.829406
java           0.708607
languages      0.636359
python         0.622795
want           0.432553
hacking        0.342766
Name: 6, dtype: float64


For topic 8, the top 10 words with the highest value are:
trump        3.830331
donald       2.974314
clinton      1.417183
president    1.357852
hillary      1.248493
win          1.018578
did          0.895550
election     0.724085
better       0.489877
vote         0.480963
Name: 7, dtype: float64


For topic 9, the top 10 words with the highest value are:
world       6.793888
war         3.300238
did         1.365941
start       0.862381
iii         0.613402
country     0.558904
end         0.450556
happen      0.424559
pakistan    0.403475
place       0.337447
Name: 8, dtype: float64


For topic 10, the top 10 words with the highest value are:
like       5.749220
feel       1.193385
sex        0.593033
look       0.466950
girl       0.436852
live       0.328309
girls      0.311223
work       0.310288
women      0.284281
culture    0.271749
Name: 9, dtype: float64


For topic 11, the top 10 words with the highest value are:
good           6.360446
books          0.541916
bad            0.368528
ways           0.354988
engineering    0.291327
work           0.270483
job            0.247536
start          0.224806
read           0.220874
business       0.213388
Name: 10, dtype: float64


For topic 12, the top 10 words with the highest value are:
500           3.194821
notes         3.092361
1000          3.090464
rs            1.763889
rupee         1.543749
indian        1.275283
black         1.203159
banning       1.113337
ban           0.950802
government    0.662754
Name: 11, dtype: float64


For topic 13, the top 10 words with the highest value are:
know         4.937183
new          2.232091
things       2.034787
day          1.744827
going        1.439300
employees    1.282740
don          0.767010
year         0.723227
2017         0.490026
girl         0.346978
Name: 12, dtype: float64


For topic 14, the top 10 words with the highest value are:
english          3.989621
improve          3.556590
skills           1.107561
writing          0.697375
speaking         0.628603
pronunciation    0.509220
communication    0.459279
speak            0.458110
fluently         0.297702
language         0.262397
Name: 13, dtype: float64


For topic 15, the top 10 words with the highest value are:
weight     4.048203
lose       3.553471
gain       0.691753
ways       0.667042
fat        0.389835
fast       0.347668
loss       0.317897
quickly    0.285741
reduce     0.254101
pounds     0.233019
Name: 14, dtype: float64


For topic 16, the top 10 words with the highest value are:
time        4.985865
travel      1.667315
possible    1.271501
sex         0.744905
home        0.210859
job         0.196347
favorite    0.194796
movies      0.194661
machine     0.188120
person      0.172200
Name: 15, dtype: float64


For topic 17, the top 10 words with the highest value are:
love      4.989495
fall      0.732983
girl      0.457094
person    0.319312
know      0.279027
true      0.274943
friend    0.201161
really    0.195503
forget    0.148470
tell      0.140736
Name: 16, dtype: float64


For topic 18, the top 10 words with the highest value are:
way          5.344961
easiest      0.555002
suicide      0.339650
fastest      0.269695
commit       0.260901
best         0.254230
account      0.233644
instagram    0.206954
painless     0.199144
increase     0.193109
Name: 17, dtype: float64


For topic 19, the top 10 words with the highest value are:
difference     5.524105
engineering    0.354168
computer       0.239245
science        0.218044
software       0.155688
data           0.147395
account        0.118876
use            0.117498
job            0.116539
better         0.100455
Name: 18, dtype: float64


For topic 20, the top 10 words with the highest value are:
people       4.765859
think        1.024462
don          0.451712
ask          0.348925
believe      0.296337
hate         0.290918
questions    0.234879
flat         0.221654
google       0.217453
mind         0.204517
Name: 19, dtype: float64

In [64]:
quora['Question'][55]

'How difficult is it get into RSI?'

In [65]:
# to get the topics from Feature Matrix for 55th document 
pd.DataFrame(nmf_features).loc[55]

0     0.000000
1     0.000000
2     0.000012
3     0.000049
4     0.000320
5     0.000098
6     0.000338
7     0.000000
8     0.000075
9     0.000000
10    0.000004
11    0.000000
12    0.000000
13    0.000104
14    0.000038
15    0.000077
16    0.000199
17    0.000000
18    0.000026
19    0.000261
Name: 55, dtype: float64

In [66]:
# to get the index in once
pd.DataFrame(nmf_features).loc[55].idxmax()

6

In [67]:
# to see the number of documents for each topic
pd.DataFrame(nmf_features).idxmax()

0       5847
1      11337
2     112269
3       4060
4      20385
5      17314
6        779
7      75244
8     357256
9      20152
10      7875
11    326915
12      2246
13      1979
14      1806
15     53162
16       838
17     63372
18      2210
19     26624
dtype: int64

In [71]:
# Get dominant topic for each document
quora['Topic'] = nmf_features.argmax(axis=1)

In [72]:
quora.head(10)

                                            Question  Topic
0  What is the step by step guide to invest in sh...      5
1  What is the story of Kohinoor (Koh-i-Noor) Dia...     16
2  How can I increase the speed of my internet co...     17
3  Why am I mentally very lonely? How can I solve...     11
4  Which one dissolve in water quikly sugar, salt...     14
5  Astrology: I am a Capricorn Sun Cap moon and c...      1
6                                Should I buy tiago?      0
7                     How can I be a good geologist?     10
8                    When do you use シ instead of し?     19
9  Motorola (company): Can I hack my Charter Moto...     17

In [73]:
def label_theme(row):
    if row['Topic'] == 0 :
        return 'American/Car/Marriage/Story/Life in general'
    if row['Topic'] == 1 :
        return 'Education/Business/Money'
    if row['Topic'] == 2 :
        return 'American Medicare/Trump'
    if row['Topic'] == 3:
        return 'State/Social/Rights'
    if row['Topic']  == 4:
        return 'Build new life'
    if row['Topic'] == 5:
        return 'Highly educated Indian engineers in America'
    if row['Topic'] == 6:
        return 'Tips on improving work day efficiency'
    if row['Topic'] == 7:
        return 'College/Service/Power'
    if row['Topic'] == 8:
        return 'Company/Human/Invest'
    if row['Topic'] == 9:
        return 'Bank account/Charge'
    if row['Topic'] == 10:
        return 'Book/Indian/App/Technology'
    if row['Topic'] == 11:
        return 'War/Future/Family/USA/Race/Political'
    if row['Topic'] == 12:
        return 'Government/President/Society'
    if row['Topic'] == 13:
        return 'Relationship/China/Parent/Japan'
    if row['Topic'] == 14:
        return 'Application/Energy/Machine/Economic/Art/Europe'
    if row['Topic'] == 15:
        return 'Earth/Marketing/Culture'
    if row['Topic'] == 16:
        return 'Air/Rate/Sleep/Blood/Email'
    if row['Topic'] == 17:
        return 'Student/Internet/Computer/Science/Research'
    if row['Topic'] == 18:
        return 'University/Engineering/Language/Software'
    if row['Topic'] == 19:
        return 'Job/Learn/Skill improvement'
        
quora['Topic_theme'] = quora.apply (lambda row: label_theme(row), axis=1)
quora.head(15)

,Question,Topic,Topic_theme
0,What is the step by step guide to invest in sh...,5,Highly educated Indian engineers in America
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,16,Air/Rate/Sleep/Blood/Email
2,How can I increase the speed of my internet co...,17,Student/Internet/Computer/Science/Research
3,Why am I mentally very lonely? How can I solve...,11,War/Future/Family/USA/Race/Political
4,"Which one dissolve in water quikly sugar, salt...",14,Application/Energy/Machine/Economic/Art/Europe
5,Astrology: I am a Capricorn Sun Cap moon and c...,1,Education/Business/Money
6,Should I buy tiago?,0,American/Car/Marriage/Story/Life in general
7,How can I be a good geologist?,10,Book/Indian/App/Technology
8,When do you use シ instead of し?,19,Job/Learn/Skill improvement
9,Motorola (company): Can I hack my Charter Moto...,17,Student/Internet/Computer/Science/Research
10,Method to find separation of slits using fresn...,2,American Medicare/Trump
11,How do I read and find my YouTube comments?,3,State/Social/Rights
12,What can make Physics easy to learn?,3,State/Social/Rights
13,What was your first sexual experience like?,9,Bank account/Charge
14,What are the laws to change your status from a...,1,Education/Business/Money

# How to Predict the Topic of a New Document

#### Let’s say that we want to assign a topic of a new unseen document. Then, we will need to take the document, to transform the TF-IDF model and finally to transform the NMF model.

In [87]:
my_news = """Why i am mentally lonely"""
 
# Transform the TF-IDF
X = tfidf.transform([my_news])
# Transform the TF-IDF: nmf_features
nmf_features = nmf_model.transform(X)
 
pd.DataFrame(nmf_features)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.0,0.000109,0.0,8.668374e-07,0.000037,0.0,0.0,0.000087,0.0,0.000578,0.0,0.0,0.0,0.000008,0.0,0.000001,0.00028,0.000097,0.000087,0.000468

In [94]:
# if we want to get the index of the topic with the highest score:

topic = pd.DataFrame(nmf_features).idxmax(axis=1)
print(f'The given document belongs to Topic {topic[0]}.')

The given document belongs to Topic 9.